[Desktop Entry]
Encoding=UTF-8
Name=Bish
Comment=Bish P2P Cryptocurrency
Comment[fr]=Bish, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Bish, eşten eşe kriptografik sanal para birimi
Exec=bish-qt %u
Terminal=false
Type=Application
Icon=bish128
MimeType=x-scheme-handler/bish;
Categories=Office;Finance;
