[Unit]
Description=Bish's distributed currency daemon
After=network.target

[Service]
User=bishcore
Group=bishcore

Type=forking
PIDFile=/var/lib/bishd/bishd.pid
ExecStart=/usr/bin/bishd -daemon -pid=/var/lib/bishd/bishd.pid \
-conf=/etc/bishcore/bish.conf -datadir=/var/lib/bishd -disablewallet

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
